body {
    font: 400 18px/1.6 sans-serif;
    padding: 2rem;
    background: black;
    color: white;
  }

a {
   text-decoration: none;        /* No <strike>*/
} 
a:link    {color: rgb(255, 255, 255);}   /* unvisited link */
a:visited {color: rgb(236, 255, 216);}   /* visited link */
a:hover   {color: rgb(118, 255, 168);}         /* mouse over link */
a:active  {color: rgb(0, 255, 55);}          /* selected link */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img { width: 100%; image-rendering: -moz-crisp-edges; image-rendering: pixelated }
pre, ul, ol, blockquote { margin: 0; padding: 0 1rem }
